/*Use "beach-palm-trees-1-2018.jpg" image as background of html with*/
body {
    background-image: url("beach-palm-trees-1-2018.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-color: #f2f2f2;
    margin-top: 3rem;
}

h1{
    text-align: center;
    font-family: 'M PLUS 2', sans-serif;
    color: #fff722;
}

.center {
    display: block;
    align-items: center;
}

#modal-body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.label {
    font-family: 'Roboto Condensed', sans-serif;
    color: #ffff66;
    /*bold*/
    font-weight: bold;
    font-size: 20px;
}

.matrix-input {
    text-align: center;
    width: 4rem;
    /*quit arrow of input*/
    -moz-appearance: textfield;
    -webkit-appearance: textfield;
    appearance: textfield;
    /*remove underline*/
    -moz-outline-style: none;
    -webkit-outline-style: none;
    outline-style: none;
    /*remove background*/
    background: transparent;
    /*remove border*/
    border: none;
    /*remove padding*/
    padding: 0;
    /* add border-bottom*/
    border-bottom: 1px solid #000;

}

#error-message  {
    /*change font type*/
    font-family: 'Roboto', sans-serif;
    /*change text align*/
    text-align: center;

}

.matrix-input:hover {
    border-bottom: 1px solid #000;
    /*pointer*/
    cursor: pointer;
}

.input {
    text-align: center;
    /*quit arrow of input*/
    appearance: textfield;
    /*remove padding*/
    padding: 0;
    width: 100%;
}

td {
    width: 2rem;
    padding: 0.3rem;
    text-align: center;
}

th{
    width: 2rem;
    text-align: center;
}

/* canvas size relative to the window size */
canvas{
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    /*canvas transparency*/
    background-color: rgba(255, 255, 255, 0.8);

}

.title {
    text-align: center;
}

ul {
    text-align: left;
    padding: 0;
}

li {
    list-style-type: none;
    text-align: center;
}

.left{
    float: left;
    width : 6rem;
    margin-left: 2rem;
}

.right{
    float: right;
    width : 6rem;
    margin-right: 2rem;

}

.row-side {
    padding-top: 1rem;
    padding-bottom: 1rem;
    align-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: none;
    border-bottom: 1px solid #fff;
}

.center {
    align-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.center-text {
    text-align: center;
}

#next {
    font-family: 'Roboto Condensed', sans-serif;
    position: relative;
    width: 5rem;
    height: 5rem;
    background-color: #ff0;
    border-radius: 50%;
    border: 1px solid #000;
    box-shadow: 0 0 10px #000;
    cursor: pointer;

}

/* add hover effect */
#next:hover {
    background-color: #f00;
}

#reset {
    font-family: 'Roboto Condensed', sans-serif;
    position: relative;
    width: 5rem;
    height: 5rem;
    background-color: #ff0;
    border-radius: 50%;
    border: 1px solid #000;
    box-shadow: 0 0 10px #000;
    cursor: pointer;
}

#reset:hover {
    background-color: #f00;
}

.button-label{
    font-family: 'Roboto Condensed', sans-serif;

}

/* div with id="agent-color" on left and middle of screen, nice font */
#agent-color-div {
    position: relative;
    display: block;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    font-size: 0.8rem;
}

.modal-dialog{
    position: relative;
    display: table; /* This is important */
    overflow-y: auto;
    overflow-x: auto;
    width: auto;
    min-width: 300px;
}

 /* The switch - the box around the slider */
.switch {
    position: relative;
    display: block;
    width: 60px;
    height: 34px;
}

  /* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

  /* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #ffc107;
}

input:focus + .slider {
    box-shadow: 0 0 1px #ffc107;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

  /* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

#error-matrix-message {
    margin: auto;
    margin-top: 1rem;
}

.card {
    /*background-color yellow and transparent;*/
    background-color: rgba(255, 255, 0, 1);
    margin-top: 1rem;
    border: none;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.label-card {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1rem;
    color: #000;
}